<main class="main">
  <div class="form-generator">
    <form class="form" [formGroup]="formGroup">
      <mat-form-field>
        <mat-label>Підрозділ</mat-label>
        <input [formControlName]="'unitName'"
               matInput placeholder="Назва вашого підрозділу" value="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Екіпаж</mat-label>
        <input [formControlName]="'crewName'"
               matInput placeholder="Назва вашого екіпажу" value="">
      </mat-form-field>

      <div class="date-row">
        <mat-form-field style="grid-area: d">
          <mat-label>Дата застосування</mat-label>
          <input [formControlName]="'date'"
                 matInput [matDatepicker]="spicker" placeholder="ДД.ММ.ГГГГ">
          <mat-datepicker-toggle matIconSuffix [for]="spicker"></mat-datepicker-toggle>
          <mat-datepicker #spicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field style="grid-area: t">
          <mat-label>Час застосування</mat-label>
          <input matInput
                 [matTimepicker]="stimepicker"
                 [formControlName]="'date'">
          <mat-timepicker #stimepicker/>
          <mat-timepicker-toggle [for]="stimepicker" matSuffix/>
        </mat-form-field>

        <button style="grid-area: b" matButton="filled" (click)="setCurrentTime('date')">Поточний час</button>
      </div>

      <mat-form-field>
        <mat-label>Ціль</mat-label>
        <input [formControlName]="'target'"
               matInput placeholder="Тип цілі (СП, укриття, інше)." value="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Координати</mat-label>
        <input [formControlName]="'coordinates'"
               matInput placeholder="Координати в форматі MGRS." value="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Населений пункт</mat-label>
        <input [formControlName]="'location'"
               matInput placeholder="Назва н.п., в районі якого пройшло застосування." value="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Відстань</mat-label>
        <input [formControlName]="'distance'"
               matInput placeholder="Відстань від позиції до точки застосування." value="">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Результат</mat-label>
        <input type="text"
               placeholder="Виберіть результат застосування"
               aria-label="Результат"
               matInput
               [formControlName]="'result'"
               [matAutocomplete]="autoResult">
        <mat-autocomplete #autoResult="matAutocomplete">
          @for (option of resultOptions; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Борт</mat-label>
        <input type="text"
               placeholder="Виберіть ваш борт"
               aria-label="Борт"
               matInput
               [formControlName]="'uav'"
               [matAutocomplete]="autoUAV">
        <mat-autocomplete #autoUAV="matAutocomplete">
          @for (option of uavOptions; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Боєприпас</mat-label>
        <input type="text"
               placeholder="Виберіть використану БЧ"
               aria-label="Боєприпас"
               matInput
               [formControlName]="'warhead'"
               [matAutocomplete]="autoWarhead">
        <mat-autocomplete #autoWarhead="matAutocomplete">
          @for (option of warheadOptions; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Детонатор</mat-label>
        <input type="text"
               placeholder="Виберіть використаний детонатор"
               aria-label="Детонатор"
               matInput
               [formControlName]="'detonator'"
               [matAutocomplete]="autoDetonator">
        <mat-autocomplete #autoDetonator="matAutocomplete">
          @for (option of detonatorOptions; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Коментар</mat-label>
        <textarea [formControlName]="'comment'"
                  matInput placeholder="Додаткові коментарі (до результату) та склад екіпажу.">
        </textarea>
      </mat-form-field>

      <div class="button-container">
        <button matButton="filled" (click)="endFlight()">Створити звіт</button>
      </div>
    </form>
  </div>
</main>

<router-outlet />
